body {
  max-width: 900px;
  padding: 30px;
}

form {
  margin-bottom: 20px;
}

.book-block{
  margin-bottom: 30px;
}

.single-review {
  margin-bottom: 20px;
}

.review-text {
  width: 98%;
  border: 1px solid #999;
  padding: 20px;
}
