{% extends "layout.html" %}

{% block heading %}
Book Details
{% endblock %}

{% block body %}
<p>Title: {{ book.title }}</p>
<p>Author: {{book.author }}</p>
<p>Year: {{ book.year }}</p>
<p>ISBN: {{ book.isbn }}</p>

<div id="review-book">
  <h4>Review this book</h4>
  {% if errormessage != "" %}
  <div class="alert alert-danger">{{ errormessage }}</div>
  {% endif %}

  {% if successmessage != "" %}
  <div class="alert alert-success">{{ successmessage }}</div>
  {% endif %}

  <form action="{{ url_for('book', isbn=book.isbn) }}" method="post" id="review">
    <div class="form-group">
      <p>Your rating (5 is best):</p>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="rating" id="rating1" value="1" unchecked required>
        <label class="form-check-label" for="rating1">1</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="rating" id="rating2" value="2" unchecked required>
        <label class="form-check-label" for="rating2">2</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="rating" id="rating3" value="3" unchecked required>
        <label class="form-check-label" for="rating3">3</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="rating" id="rating4" value="4" unchecked required>
        <label class="form-check-label" for="rating4">4</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="rating" id="rating5" value="5" unchecked required>
        <label class="form-check-label" for="rating5">5</label>
      </div>
    </div>

    <div class="form-group">
      <textarea form:"review" name="revtext" cols="100" rows="10" maxlength:"5000" placeholder="Enter your review here..." required></textarea>
    </div>

    <input type="hidden" name="isbn" value="{{ book.isbn }}">

    <button class="btn btn-primary">Submit</button>
  </form>
</div>

<div id=reviews>

</div>

<a href="/">Back to search</a>
{% endblock %}
